*{
    margin: 0;
    box-sizing: border-box;
}

/*Centering the page*/
#wrapper{
    width: 80vw;
    margin: 0 auto;
}

/*Header starts*/
header {
    padding: 1%;
    background-color: #F6A6BB;
    color: black;
    text-align: center;
}
/*Header ends*/

/*Two column container starts:*/

#two-column{
    display: flex;
    flex-direction: row;
    width: 100%;
}

nav  {
    display: flex;
    width: 30%;
    text-align: center;
    padding: 3%;
    flex-direction:column;
    background-color: powderblue;
}
nav {
    display: flex;
    width: 250px;
    background-color: #F4BBC9;
}


nav ul {

    display: flex;
    flex-direction:column;
    font-size: calc(2px + 10px);
    list-style-type: none;
    padding: 3%;
    margin: auto ;
    justify-content: space-around;

}

nav ul li {
    width: 150px;
    box-sizing: border-box;
    margin: 10px auto;
    padding: 15px 0;
    border-style: groove;
    border-width: thick;
    border-color: cadetblue;
    text-align: center;
    background-color: white;
}

nav ul li a {
    margin: auto ;
}

nav a{
    text-decoration:none;
    color:black;
}

main{
    padding: 1% 2%;
    height: 150vh;
    text-align: center;
    width: 100%;
    background-color: #F7D1D8;
}

#this-one{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 5% 0;
}

main p{
    line-height: 100%;
    font-size: calc(2px + 1.5vw);
    padding: 2%;
}

main h3{
    text-align: center;
    margin: 2% 0;
    font-size: calc(2px + 2vw);
    color: maroon;
}

main img{
    max-width: 40%;
}


footer{
    background-color: #F6A6BB;
    color: bisque;
    padding: 1%;
    text-align: center;
}

#time-date{
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
}

footer a{
    color: bisque;
}

@media  screen and (max-width: 750px) {
    #two-column {
        display: flex;
        flex-direction: column;
    }

    nav{

        width: 100%;
        padding: 0;
        margin: 0;
        display:inline;
        text-align: center;
        background-color: lightcoral;
    }
    nav ul {
        flex-direction: row;
        width: auto;
        background-color: lightcoral;
        margin: auto ;
        justify-content: space-around;
        padding: 0;


    }
    nav ul li { padding: 0; }

    #this-one{
        flex-direction: column;
    }

    header{
        text-align: center;
    }

    main {
        padding: 0;
        flex-direction: column;
        width: auto;

    }}